<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ComponentTesting">

    <listeners>
        <listener class-name="org.blackline.Listeners"/>
    </listeners>

    <test thread-count="5" name="SampleDemo">
        <parameter name="browser" value="chrome"/>
        <groups>
            <run>
                <include name="Regression"/>
                <include name="FlipKart"/>
                <exclude name="Smoke"/>
            </run>
        </groups>
        <classes>
            <class name="org.blackline.Day1"/>
           <!-- <class name="org.blackline.Day2"/>-->
            <class name="org.blackline.DataProviderTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
